@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-black text-zinc-50 antialiased;
}

/* Smooth-ish font rendering */
* {
  text-rendering: geometricPrecision;
}

