NEXT_PUBLIC_SUPABASE_URL=https://zdxfxhpesfjbwonsxryw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_U7rSr1TOc5XGv4QOMB-9pA_-5Hthffv

# Admin login bằng ENV (không lưu admin trong DB)
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=__SET_ME_IN_.env.local__
ADMIN_SESSION_SECRET=__RANDOM_LONG_SECRET__

# Dùng cho API admin (server-side) để CRUD (không expose ra client)
SUPABASE_SERVICE_ROLE_KEY=__SUPABASE_SERVICE_ROLE_KEY__
